html {font-family: "Arial"; background-color: blanchedalmond;}
.header { text-align: center; }
.button { text-align: center; color: white; }
img { height: 300px; width: 250px; text-align: center; }
.extras { text-align: center; }