html {font-family: "Arial"; background-color: blanchedalmond;}
.header { text-align: center; }
.button { text-align: center; color: white; }
img { height: 522px; width: 1000px; display: block; margin-left: auto; margin-right: auto; }
.images { text-align: center; color: grey}
.extras { text-align: center; }
